<ion-view view-title="{{ 'statusTitle' | translate }}" name="order-view">

    <ion-content class="padding">
        <div class="list order-status-list">
            <div class="item item-divider">
                {{ 'statusSubTitle1' | translate }}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{orderHeader.FirstName}} &nbsp; {{orderHeader.FamilyName}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                {{orderHeader.Cellphone}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-stats-bars"></i>
                {{ 'Status' | translate }}
                <span class="item-note">
                    {{orderHeader.Status}}
                </span>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-drag"></i>
                {{ 'sequenceOrder' | translate }}
                <span class="badge badge-assertive">{{orderHeader.SequenceOrder}}</span>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-stopwatch"></i>
                {{ 'orderDeliveryTimeDesc1' | translate }}
                <span class="item-note">
                    {{orderHeader.EstimatedDeliveryTime}}
                </span>
            </div>

            <div class="item item-divider">
                {{ 'statusSubTitle2' | translate }}
            </div>
            <div class="item">
                <div class="row header">
                    <div class="col">
                        {{ 'tableName' | translate }}
                    </div>
                    <div class="col text-center">
                        {{ 'tableQuantity' | translate }}
                    </div>
                    <div class="col text-center">
                        {{ 'tablePrice' | translate }}
                    </div>
                    <div class="col text-center">
                        {{ 'tableTotal' | translate }}
                    </div>
                </div>
                <div class="row" ng-repeat="item in orderItems track by $index">
                    <div class="col">
                        {{item.DescriptionShort}}
                    </div>
                    <div class="col text-center">
                        {{item.Quantity}}
                    </div>
                    <div class="col text-center">
                        {{item.UnitPrice | currency}}
                    </div>
                    <div class="col text-center">
                        {{item.Quantity * item.UnitPrice | currency}}
                    </div>
                </div>
            </div>


            <button class="button button-block button-balanced" translate="statusButtonConfirm"
                    ng-click="confirmCancelOrder(orderHeader.OrderID, orderHeader.DriverID, 'confirm')"
                    style="margin-top: 30px;"></button>

            <button class="button button-block button-assertive" translate="statusButtonCancel"
                    ng-click="confirmCancelOrder(orderHeader.OrderID, orderHeader.DriverID, 'cancel')"></button>
        </div>
    </ion-content>
</ion-view>
